<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>INIntentsRestrictedWhileProtectedDataUnavailable</key>
	<array/>
	<key>information property list</key>
	<string></string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict/>
			<key>NSExceptionAllowsInsecureHTTPLoads</key>
			<true/>
			<key>NSIncludesSubdomains</key>
			<true/>
			<key>Memmi_Mood_Endpoint</key>
			<string>https://memmi-backend-cgm1eudqd-andres-projects-2ab2f211.vercel.app/</string>
		</dict>
	</dict>
</dict>
</plist>
